.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item{
    list-style: circle;
    border: 1px solid orange;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.item a{
    text-decoration: silver;
}
.item a:hover{
    color:rgb(240, 0, 0);
}
.item:hover{
    background-color: rgb(43, 43, 174);
}
body{
   align-self: center; 
}
h1{
    text-align: center;
}
ul{
    border: 5px solid rgb(75, 11, 139);
    padding: 10.5em;
}